@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/css/MIS/onepcssgrid.css" rel="stylesheet" />
    <link href="~/Content/css/MIS/dbzHtmlPagination.css" rel="stylesheet" />
    <link href="~/Content/css/template.css" rel="stylesheet" />
    <link href="~/Content/css/templateext.css" rel="stylesheet" />
    <link href="~/Content/css/mainside.css" rel="stylesheet" />
    <link href="~/Scripts/JQueryEasyUI/themes/icon.css" rel="stylesheet" />
    <link href="~/Scripts/JQueryEasyUI/themes/gray/easyui.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-1.7.min.js"></script>
    <script src="~/Scripts/JQueryEasyUI/jquery-1.8.0.min.js"></script>
    <script src="~/Scripts/JQueryEasyUI/jquery.easyui.min.js"></script>
    <script src="~/Scripts/JQueryEasyUI/plugins/jquery.pagination.js"></script>
    <script src="~/Scripts/MIS/jquery-ui-1.8.24.min.js"></script>
    <script src="~/Scripts/MIS/jquery.ui.core.js"></script>
    <script src="~/Scripts/MIS/jquery.ui.widget.js"></script>
    <script src="~/Scripts/MIS/jquery.ui.effect.js"></script>
    <script src="~/Scripts/MIS/jquery.ui.button.js"></script>
    <script src="~/Scripts/MIS/jquery.ui.draggable.js"></script>
    <script src="~/Scripts/MIS/jquery.ui.droppable.js"></script>
    <script src="~/Scripts/MIS/jquery.ui.mouse.js"></script>
    <script src="~/Scripts/MIS/jquery.ui.sortable.js"></script>
    <script src="~/Scripts/MIS/dbzMISPortlets.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/DevelopersScripts/dbzValidationChecking.js"></script>
    <script src="~/Scripts/DevelopersScripts/dbzCustomizeEasyUIDataGrid.js"></script>
    <style type="text/css">
        .col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12 {
            @*background: none repeat scroll 0 0 #801255;
            *@margin-bottom: 5px;
            padding: 2px 0;
        }

        .col7 {
            width: 56.5%;
        }

        .contentDetails {
            padding-left: 2%;
            padding-top: 1%;
        }

            .contentDetails .divLeftPanel {
                text-align: left;
                float: left;
                width: 31%;
            }

            .contentDetails .divRightPanel {
                float: left;
                width: 60%;
            }

        .divLeftPanel {
        }

        .ui-datepicker-trigger {
            background-image: url("../../Scripts/JQueryEasyUI/themes/gray/images/datebox_arrow.png");
            background-repeat: no-repeat;
            border: none;
            width: 16px;
            height: 16px;
        }

        .custom-buttons {
            background-color: #E0E0E0;
            background: -webkit-linear-gradient(top, #E0E0E0 0, #EFEFEF 100%);
            background: -moz-linear-gradient(top, #E0E0E0 0, #EFEFEF 100%);
            background: -o-linear-gradient(top, #E0E0E0 0, #EFEFEF 100%);
            background: linear-gradient(to bottom, #E0E0E0 0, #EFEFEF 100%);
            background-repeat: repeat-x;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#EFF5FF, endColorstr=#E0ECFF, GradientType=0);
            border-color: #BBBBBB;
            padding: 0px;
            position: relative;
            border-width: 1px;
            border-style: solid;
            min-width: 75px;
        }


            .custom-buttons:hover {
                background-color: #999999;
                background: -webkit-linear-gradient(top, #999999 0, #ABABAB 100%);
                background: -moz-linear-gradient(top, #999999 0, #ABABAB 100%);
                background: -o-linear-gradient(top, #999999 0, #ABABAB 100%);
                background: linear-gradient(to bottom, #999999 0, #ABABAB 100%);
                background-repeat: repeat-x;
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#999999, endColorstr=#ABABAB, GradientType=0);
                border-color: #BBBBBB;
                padding: 0px;
                position: relative;
                border-width: 1px;
                border-style: solid;
                min-width: 75px;
                color: #FFFFFF;
            }



        .leftLevelDiv {
            width: 100%;
        }

        .colleft {
            padding: 2px;
            width: 25%;
            float: left;
        }

        .colleftlast {
            padding: 2px;
            width: 60%;
        }

        .colleftlasttd {
            padding: 2px;
            width: 100%;
        }
    </style>
    <script type="text/javascript">
        $(function () {

            //$('#packageNameSearch').autocomplete({
            //    source: "/ProductPromotion/GetAutoCompletePackages/",
            //    select: function (event, ui) {
            //    }
            //});

            //$('#packageCode').autocomplete({
            //    source: "/ProductPromotion/GetAutoCompletePackageCodes/",
            //    select: function (event, ui) {
            //    }
            //});

            //$('#packageStatus').autocomplete({
            //    source: "/ProductPromotion/GetAutoCompletePackageStatus/",
            //    select: function (event, ui) {
            //    }
            //});



            //$('#tblDataGrid').datagrid({
            //    rowStyler: function (index, row) {
            //        if (index % 2 != 0) {
            //            return 'background-color:#F1F2F3;color:black;font-weight:bold;';
            //        }
            //    }
            //});


        });

        function Search() {

            alert("Ok");

            //var status = 0;
            //if ($("#active").prop('checked') == true) {
            //    status = 1;
            //} else {
            //    status = 0;
            //}
            //$.ajax({
            //    url: '/ProductPromotion/PackageSearch',
            //    type: 'Post',
            //    data: JSON.stringify({ packagename: $('#packageNameSearch').val(), packageCode: $('#packageCode').val(), status: status }),
            //    dataType: 'json',
            //    async: true,
            //    contentType: 'application/json',
            //    success: function (result) {
            //        $('#tblDataGrid').datagrid('loadData', result);
            //    },
            //    error: function (result, textStatus, jqXHR) {

            //    }
            //});
        }

    </script>

</head>
<body>
    <div>

        <div id="divSearch" class="panel-header" style="padding:15px; padding-left: 1%" align="left">
            <fieldset style="width: 40%; ">


                <div class="" style="width: 10%; float: left">
                    <div style="margin-top:20%;" align="left">Code</div>
                    <div style="margin-top:20%;" align="left">Name</div>
                </div>

                <div class="" style="width: 90%; float: right">
                    <div style="margin-top:1%;padding-left: 30px;">
                        <input type="text" id="txtCode" style="width:70%; height: 5%;" placeholder="Name" />
                    </div>
                    <div style="margin-top:1%;padding-left: 30px;">
                        <input type="text" id="txtBatchName" style="width:70%; height: 5%;" placeholder="Code" />
                    </div>

                    <div style="margin-top:1%;padding-left: 30px;">
                        <input type="button" value="Search" class="br-buttons" onclick="Search()" />
                    </div>
                </div>

            </fieldset>

        </div>


        <div class="ViewPanel" style="height: 300px;overflow-y: scroll">
            <div id="div1" class="panel-header-New" style="padding:3px; text-align:left; ">
                <img src="~/Content/images/create.png" /> @Html.ActionLink("New", "Create", null, new { accesskey = "N" })
            </div>
            <table id="tblDataGrid" class="easyui-datagrid" toolbar="#toolbar" autorowheight="true"
                   fitcolumns="true"
                   singleselect="true"
                   url="@Url.Action("GetSecurityUser")"
                   rownumbers="false"
                   pagination="true"
                   pagesize="10">
                <thead>
                    <tr>
                        <th field="Id" hidden="true"></th>
                        <th field="Name" width="140" sortable="true">Name</th>
                        <th field="Role" width="140" sortable="true">Role</th>

                        <th field="Edit" align="middle" style="text-align:center;" sortable="true">Edit</th>
                        @*<th field="Delete"><div class = "btnPrint" height="20px" width="20px" onclick="exportTableToPrint()"></div></th>*@
                    </tr>
                </thead>
            </table>
        </div>

    </div>
</body>
</html>
